
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #333333;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

select
{
    width: 100%;
}
 textarea {
    width: 94%;
 }
 select,textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

select:focus, textarea:focus {
    border-color: #187853;
    outline: none;
    background-color: #e6f0ff;
}

option {
    padding: 10px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #187853;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #12553b;
}

.form-container {
    display: flex;
    flex-direction: column;
}

/* Secondary button style */
button.secondary-button {
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark text color */
    border: 2px solid #ccc; /* Border with light grey color */
    padding: 10px 20px; /* Padding for a better size */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */
}

button.secondary-button:hover {
    background-color: #e0e0e0; /* Darker grey background on hover */
    border-color: #aaa; /* Darker border on hover */
}

button.secondary-button:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a focus shadow */
}



